<h1>Search Restaurants</h1>
<form method="post">
    <label for="page">Page</label>
    <input required type="text" name="page" id="page" placeholder="Enter page no." value="1">
    <br/>
    <label for="perPage">Per Page</label>
    <input required type="text" name="perPage" id="perPage" placeholder="Enter Entries to be shown per page" value="5">
    <br/>
    <label for="borough">Borough</label>
    <input type="text" name="borough" id="borough" placeholder="Filter by borough">
    <br/>
    <input type="submit" class="button" value="Submit">
</form>