body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #440bd5cd;
}

#container {
    background: #ffffff ;
    padding: 50px;
}

h1{
    text-align: center;
}

form {
    padding: 20px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #440bd5cd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#restaurants {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#restaurants td,
#restaurants th {
    border: 1px solid #ddd;
    padding: 8px;
}

#restaurants tr:nth-child(even) {
    background-color: #f2f2f2;
}

#restaurants tr:hover {
    background-color: #ddd;
}

#restaurants th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #440bd5cd;
    color: white;
}